/* Meyer Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Gerais */

* {
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-size: 36px;
}

a {
    text-decoration:  none;
}

main {
    padding: 0 25px;
}


/*  NAVBAR */
.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5ccb5f; 
    padding: 10px 20px; 
}

#portfolio-tittle {
    display: flex;
    align-items: center;
}

#tired-dev {
    color: white;
    font-weight: bold;
    font-size: 16px;
    align-self: center; /* Alinhar verticalmente ao centro */
}

#logo {
    height: 40px; /* Ajuste a altura conforme necessário */
    margin-right: 10px;
}

.option-nav-bar {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.option-nav-bar li {
    margin-right: 20px; /* Espaçamento entre as opções */
}

.option-nav-bar li:last-child {
    margin-right: 0; /* Remover espaçamento à direita da última opção */
}

.option-nav-bar a {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

/* main */
/* Sobre Mim */
.summary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    user-select: none;
}

.summary-left {
    margin-right: 20px;
}

.imagem-perfil {
    max-width: 300px;
    height: auto;
    user-select: none;
}

.summary-right {
    text-align: left;
    max-width: 600px;
}

.summary-right h1 {
    font-size: 36px;
}

.summary-right p {
    font-size: 18px;
    margin-bottom: 20px;
}

.button-container{
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.button-container button {
    border: none;
    background-color: transparent; /* Cor de fundo */
    padding: 3px 8px; /* Ajuste o espaçamento interno conforme necessário */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px; /* Ajuste o tamanho da fonte conforme necessário */
}

.button-container button:hover {
    background-color: #a9dbb8;
}

.button-container a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black; /* Cor do texto */
    font-weight: bold; /* Texto em negrito */
    gap: 5px;
}

.button-container img {
    width: 20px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 20px;
}

/* Sobre mim */

.about-box{
    background-color: #5ccb5f;
    color: #fff;
    padding: 20px;
    margin: 20px 70px;
    border-radius: 10px;
    font-size: 1.1rem;
}

/* Habilidades */

.Skills {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.skills-container {
    text-align: center;
}

.skills-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.images-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espaçamento entre as imagens */
}

.images-skills img {
    width: 150px; /* Tamanho dos ícones */
    height: 150px;
}

/* Projetos fodas */

.projetos-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #5ccb5f;
    color: #fff;
    padding: 20px;
    margin: 20px 70px;
    border-radius: 10px;
    font-size: 1.1rem;
}

.projeto-indi{
    flex-basis: calc(33.33% - 20px);
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.projeto-indi img {
    max-width: 75%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }

/* Contato */

.form-container {
    max-width:80%;
    margin: 0 auto;
    padding: 40px;
    background-color: #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-container h1{
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
}

input,textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

.form-container button{
    padding: 10px;
    background-color: #5ccb5f;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #39703b;
}

/* Footer */

.copyright-site {
    background-color: #5ccb5f;
    padding: 10px 0;
    margin-top: 30px;
    text-align: center;
}

/* Dark Mode */
#dark-mode-toggle {
    margin-right: 10px;
}

.darkmode-button {
    border: none; 
    background-color: transparent; 
    padding: 3px 8px; 
    border-radius: 10px;
    cursor: pointer;
    float: right;
    margin-right: 20px;
    /* position: absolute;
    top: 60px; 
    right: 20px; */
}

.darkmode-button img {
    width: 50px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 50px;
}

.dark-mode body {
    background-color: #333333;
    color: blue;
  }


